* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #114992, #1d2978b9);
  color: #f5f7fa;
  line-height: 1.6;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(10,15,31,.8), rgba(181, 25, 11, 0.9));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.logo {
  font-weight: 600;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.2rem;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #f5b942;
  color: #0a0f1f;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

section {
  padding: 90px 10%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 8px;
}

.release-card {
  background: rgba(255,255,255,0.05);
  padding: 25px;
  margin: 25px auto;
  max-width: 600px;
  border-radius: 8px;
}

.platforms {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.platforms a {
  background: #f5b942;
  color: #0a0f1f;
  padding: 8px 14px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}

.mission-text {
  max-width: 700px;
  margin: auto;
  font-size: 1.1rem;
}

.hidden {
  display: none;
}

footer {
  padding: 30px;
  background: #0a0f1f;
}

/* Mobile */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #0a0f1f;
    position: absolute;
    top: 70px;
    right: 10%;
    padding: 20px;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
.h{
    color:black;
}
.sub-header {
  height: 60vh;
  background: /*linear-gradient(rgba(37, 51, 93, 0.003), rgba(54, 75, 113, 0.9)),*/
    url('BPHO.jpg') center/cover;
}

.devotion {
  background: rgba(255,255,255,0.05);
  padding: 25px;
  margin: 25px auto;
  max-width: 700px;
  border-radius: 8px;
  text-align: left;
}
